* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background:#ffffff;
}

html, body{
    overflow-x:hidden;
}

img{
    max-width:100%;
    height:auto;
    display:block;
}

@keyframes pulso {
    0% {
        transform: scale(1);
    }
    50% { 
        transform: scale(1.05); 
    }
    100% { 
        transform: scale(1); 
    }
}